
<ion-view>
    <div class="bar bar-header bar-balanced item-input-inset" id="tou">

            <button class="button button-clear  ion-mic-a"></button>
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="搜索音乐、歌词、电台">
            </div>
        <button class="button button-clear  ion-stats-bars" ui-sref="page1"></button>
    </div>
    <div class="row" id="home">
        <div class="col ac">个性推荐</div>
        <div class="col">歌单</div>
        <div class="col">主播电台</div>
        <div class="col">排行榜</div>
    </div>

        <ion-content class="has-subheader">
        <ion-slide-box does-continue="true" auto-play="true"
                       slide-interval="2500" show-pager="true">
            <ion-slide>
                <div class="box"><img src="images/01.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/02.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/03.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/04.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/05.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/06.jpg"/></div>
            </ion-slide>
        </ion-slide-box>

 <div class="row" id="home_1" >
     <div class="col"><i class="icon ion-headphone"></i><br> <span>私人FM</span></div>
     <div class="col"><i class="icon ion-calendar"></i> <br> <span>每日歌曲推荐</span></div>
     <div class="col"><i class="icon ion-stats-bars"></i><br>  <span>云音乐新歌榜</span></div>
 </div>
     <p class="home_p1"><i class="icon ion-ios-musical-notes"></i>独家放送<span>更多></span></p>
    <div class="row" id="home_2">
        <div class="col"><img src="images/08.jpg"><p>网易音乐人 第57期 齐一：非正常励志音乐人</p></div>
        <div class="col"><img src="images/07.jpg"><p>充豪华会员 赢天籁之战入场券 </p></div>
    </div>
    <div class="row" id="home_3">
        <div class="col"><img src="images/09.jpg"><p>音乐专栏 赵牧阳：摇滚精神，就是活着</p></div>
    </div>
    <p class="home_p1"><i class="icon ion-disc"></i>最新音乐<span>更多></span></p>
     <div class="row home_4">
         <div class="col"><img src="images/10.jpg"><p>离心力</p><span>杨乃文</span></div>
         <div class="col"><img src="images/11.jpg"><p>On Hold</p><span>The xx</span></div>
         <div class="col"><img src="images/12.jpg"><p>Blue</p><span>Troye Sivan</span></div>
     </div>
    <div class="row home_4">
        <div class="col"><img src="images/13.jpg"><p>Baby</p><span>朴树</span></div>
        <div class="col"><img src="images/14.jpg"><p>Nine Track </p><span>Charlie Puth</span></div>
        <div class="col"><img src="images/15.jpg"><p>长</p><span>李宇春</span></div>
    </div>
        <p class="home_p1"><i class="icon ion-clipboard"></i>推荐歌单<span>更多></span></p>
        <div class="row home_4">
            <div class="col"><img src="images/16.jpg"><p>其实人间尽耳聋——黄霑</p></div>
            <div class="col"><img src="images/17.jpg"><p>欧洲小镇上走走，找点调调</p></div>
            <div class="col"><img src="images/18.jpg"><p>【节奏控】值得单曲循环的冷门珍藏系列①</p></div>
        </div>
        <div class="row home_4">
            <div class="col"><img src="images/19.jpg"><p>45度角仰望天空才是听朋克的正确姿势</p></div>
            <div class="col"><img src="images/20.jpg"><p>Future Bass¦萌动心灵深处的绝妙佳音精选集</p></div>
            <div class="col"><img src="images/21.jpg"><p>Skm破音-我很快乐</p></div>
        </div>

            <p class="home_p1"><i class="ion-social-youtube-outline"></i>推荐MV<span>更多></span></p>
            <div class="row home_4">
                <div class="col"><img src="images/22.jpg"><p>当我在这里</p><span>陈粒</span></div>
                <div class="col"><img src="images/23.jpg"><p>Nine Track </p><span>Mad Clown</span></div>
            </div>
            <div class="row home_4">
                <div class="col"><img src="images/24.jpg"><p>SEXY LOVE</p><span>T-ara</span></div>
                <div class="col"><img src="images/25.jpg"><p>BATTLE FLELD</p><span>张靓颖</span></div>
            </div>

            <p class="home_p1"><i class="ion-radio-waves"></i>主播电台<span>更多></span></p>
            <div class="row home_4">
                <div class="col"><img src="images/26.jpg"><p>银临茶社 | 第一期 插秧大汉慕喊寒来了</p><span>银临的剪刀手</span></div>
                <div class="col"><img src="images/27.jpg"><p>《我们都很好，只是时间不凑巧》</p><span>隔壁老王家的二小子</span></div>
                <div class="col"><img src="images/28.jpg"><p>演员-薛之谦-Nancy cover</p><span>Nancy cover翻唱的歌儿~南音吉他小屋</span></div>
            </div>
            <div class="row home_4">
                <div class="col"><img src="images/29.jpg"><p>你不知道的事</p><span>彤彤彤的歌</span></div>
                <div class="col"><img src="images/30.jpg"><p>民谣诗人莱恩德科恩：迷人的烟嗓</p><span>民谣与诗</span></div>
                <div class="col"><img src="images/31.jpg"><p>Vol.42 我无比怀恋的是再也回不去的时光</p><span>深夜谈吃</span></div>
            </div>
            <p id="home_p2">现在可以根据个人喜好，自由调整首页栏目顺序啦~</p>
            <div id="home_but">
                <button class="button button-outline button-balanced ">调整栏目顺序</button>
            </div>
        </ion-content>
</ion-view>
















