<ion-view>
    <ion-header-bar class="bar-balanced " id="view">
        <button class="button button-clear">更多</button>
        <h3 class="title">我的音乐</h3>
        <button class="button button-icon ion-stats-bars" ui-sref="page1"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list view_2" id="icon">
          <div class="item" ui-sref="tabs.page2"><i class="icon ion-archive"></i>下载音乐<div class="right"><span>175<i class="icon ion-ios-arrow-right" ></i></span></div></div>
          <div class="item" ui-sref="tabs.page2"><i class="icon ion-android-time"></i>最近播放<div class="right"><span>100<i class="icon ion-ios-arrow-right" ></i></span></div></div>
          <div class="item" ui-sref="tabs.page2"><i class="icon ion-ipod"></i>iPod<div class="right"><span>175<i class="icon ion-ios-arrow-right" ></i></span></div></div>
          <div class="item" ui-sref="tabs.page2"><i class="icon ion-android-contact"></i>我的歌手<div class="right"><span>2<i class="icon ion-ios-arrow-right" ></i></span></div></div>
          <div class="item" ui-sref="tabs.page2"><i class="ion-social-youtube-outline"></i>我的MV<div class="right"><span>1<i class="icon ion-ios-arrow-right" ></i></span></div></div>
          <div class="item" ui-sref="tabs.page2"><i class="ion-ios-musical-note"></i>我的电台<div class="right"><span>2<i class="icon ion-ios-arrow-right" ></i></span></div></div>
      </div>
        <p class="view2_p"><i class="icon ion-ios-arrow-down"></i>我创建的歌单（3）</p>
        <div class="list view_2">
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/32.jpg">
                <h3>我喜欢的音乐</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>100首,已下载85首</p>
            </div>
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/33.jpg">
                <h3>BIGBANG</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>20首，已下载15首</p>
            </div>
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/34.jpg">
                <h3>纯音乐</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>35首，已下载30首</p>
            </div>
        </div>
        <p class="view2_p"><i class="icon ion-ios-arrow-down"></i>我收藏的歌单（3）</p>
        <div class="list view_2">
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/35.jpg">
                <h3>一首歌让你回到中学时代</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>162首,已下载52首</p>
            </div>
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/36.jpg">
                <h3>轻音乐类型的配乐</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>80首，已下载30首</p>
            </div>
            <div class="item item-thumbnail-left" ui-sref="tabs.page2">
                <img src="images/37.jpg">
                <h3>云音乐热歌榜</h3>
                <p><i class="icon ion-ios-checkmark-outline"></i>199首，已下载10首</p>
            </div>
        </div>
    </ion-content>
</ion-view>