<ion-tabs class="tabs-dark tabs-icon-top" id="tabs">
    <ion-tab title="发现音乐" icon-on="ion-disc" icon-off="ion-disc">
        <ion-nav-view name="tab-view1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的音乐" icon-on="ion-ios-musical-notes" icon-off="ion-ios-musical-notes" ui-sref="tabs.view2">
        <ion-nav-view name="tab-view2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="朋友" icon-on="ion-ios-people-outline" icon-off="ion-ios-people-outline" ui-sref="tabs.view3">
        <ion-nav-view name="tab-view3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="账号" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" ui-sref="tabs.view4">
        <ion-nav-view name="tab-view4"></ion-nav-view>
    </ion-tab>
</ion-tabs>

