<ion-view>
    <ion-header-bar class="bar-balanced " id="view">
        <h3 class="title">账号</h3>
        <button class="button button-icon ion-stats-bars" ui-sref="page1"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list view4">
            <div class="item item-avatar">
                <img src="images/41.jpg">
                <div class="but">
                    <button class="button button-outline button-balanced ">签到</button>
                </div>
                <h3>Blue</h3>
                <button class="button button-outline button-balanced ">Lv.8</button>
            </div>
            <div class="row">
                <div class="col">
                    动态
                    <span>2</span>
                </div>
                <div class="col">
                    关注
                    <span>12</span>
                </div>
                <div class="col">
                    粉丝
                    <span>152</span>
                </div>
                <div class="col ac">
                    <i class="icon ion-edit"></i>
                    <span>我的资料</span>
                </div>
            </div>
        </div>
    <div class="list view4_1">
        <div class="item">
            <i class="icon ion-ios-email-outline"></i>我的消息
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
    </div>

<div class="list view4_1">
    <div class="item">
        <i class="icon ion-social-vimeo-outline"></i>会员中心
        <span><i class="icon ion-ios-arrow-right" ></i></span>
    </div>
    <div class="item">
        <i class="icon ion-ios-cart-outline"></i>积分商城
            <span>3218积分<i class="icon ion-ios-arrow-right" ></i></span>
    </div>
    <div class="item">
        <i class="icon ion-ios-box-outline"></i>在线听歌免流量
        <span><i class="icon ion-ios-arrow-right" ></i></span>
    </div>
</div>

    <div class="list view4_1">
        <div class="item">
            <i class="icon ion-ios-gear-outline"></i>设置
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item">
            <i class="ion-ios-barcode-outline"></i>扫一扫
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item">
            <i class="icon ion-tshirt-outline"></i>主题换肤
            <span>自选颜色<i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item item-toggle">
            <i class="icon ion-ios-lightbulb-outline"></i>夜间模式
            <label class="toggle toggle-balanced">
                <input type="checkbox"/>
                <div class="track"><div class="handle"></div></div>
            </label>
        </div>
        <div class="item">
            <i class="icon ion-ios-clock-outline"></i>定时关闭
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item">
            <i class="icon ion-ios-alarm-outline"></i>音乐闹钟
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item">
            <i class="icon ion-model-s"></i>驾驶模式
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
    </div>

    <div class="list view4_1">
        <div class="item">
            <i class="icon ion-share"></i>分享网易云音乐
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
        <div class="item">
            <i class="icon ion-ios-information-outline"></i>关于
            <span><i class="icon ion-ios-arrow-right" ></i></span>
        </div>
    </div>

    <div class="list view4_2">
        <div class="item">
            退出登录
        </div>
    </div>
    </ion-content>
</ion-view>>